.admin-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fdf6f0;
}

.admin-login-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.admin-login-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.admin-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #8B4513; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-error-message {
  color: gray;
  margin-top: 1rem;
  text-align: center;
}